section.about-us
    .bg-object.about-us-bg
        p About us
    .container
        .bg-object.a
            p A
        .row
            img(src="static/img/about-us-img.png").about-us__img
            .col.absolute-col
                .row.row1
                    .col-4
                        .line-wrap-black
                    .col-8
                        p.title-h2 About us
                .row.row2
                    .col-4
                        .line-wrap-brown
                    .col-6
                        p.main-text.main-text__d-gray.left-text We are a team of professionals in the wood processing and the creation of wooden furniture of the highest class
                .row
                    .col-4
                    .col-8
                        .btn-wrap
                            .wooder-btn
                                button.no-border-btn.btn-text Learn more


