section.furniture-and-decor
    .bg-object.f
        p F
    .bg-object.furniture
        p Furniture
    .bg-object.decor
        p Decor
    .bg-object.d
        p D
    .container-fluid.odd
        .row
            .col
                .row.row1
                    .col-4
                        .line-wrap-black
                    .col-8
                        p.title-h2 Furniture
                .row.row2
                    .col-4
                        .line-wrap-brown
                    .col-8
                        p.main-text.main-text__d-gray.left-text Wooder utilizes materials otherwise left behind, rendered useless in their original intent. By creating new pieces made of reclaimed barnwood
                .row
                    .col-4
                    .col-8
                        .btn-wrap
                            .wooder-btn
                                button.no-border-btn.btn-text Learn more
                .row
                    .col-4
                        p.number 01
                        .dot
                    .col-8
            .col
                .f-d-img__wrap
                    img(src="static/img/furniture1.png")
    .container-fluid.even
        .row
            .col
                .f-d-img__wrap
                    img(src="static/img/furniture2.png")
            .col
                .row.row1
                    .col-8
                        p.title-h2.right-text Decor
                    .col-4
                        .line-wrap-black
                .row.row2
                    .col-8
                        p.main-text.main-text__d-gray.right-text We make all types of wooden decor as per design given by Architect,Interior designer, contractor which is suitable your premises.
                    .col-4
                        .line-wrap-brown.left-line
                .row
                    .col-8
                        .btn-wrap
                            .wooder-btn
                                button.no-border-btn.btn-text Learn more
                    .col-4
                .row
                    .col-8
                    .col-4
                        p.number 02
                        .dot