section.title-banner
    .title__bg-wrap
        .row-bg
            .img-wrap1
                //img(src='static/img/title-banner-bg1.png').title-banner-bg1
            .img-wrap2
                //img(src='static/img/title-banner-bg2.png').title-banner-bg2
    .title-banner-content
        .title-banner-window
            .title-slider
                .wooder-slide
                    .slide-number-wrap
                        .slider-number
                            p 01
                    .row
                        p.t-b-slide-title Wooder
                    .row.btn-row
                        .bordered-btn
                            .text-wrap
                                p Learn more
                    .row
                        .scroll-wrap
                            .mouse-wrap
                                img(src="static/img/mouse.svg").mouse-img
                            .arrow-bottom-wrap
                                img(src="static/img/arrow-bottom.png").arrow-bottom-img
                            .scroll-text
                                p Scroll
                    .scroll-text.t-b-right-text
                        p Furniture & decor
                .wooder-slide
                    .slide-number-wrap
                        .slider-number
                            p 02
                    .row
                        p.t-b-slide-title Wooder
                    .row
                        .bordered-btn
                            .text-wrap
                                p Learn more
                    .row
                        .scroll-wrap
                            .mouse-wrap
                                img(src="static/img/mouse.svg").mouse-img
                            .arrow-bottom-wrap
                                img(src="static/img/arrow-bottom.png").arrow-bottom-img
                            .scroll-text
                                p Scroll
                    .scroll-text.t-b-right-text
                        p Furniture & decor
                .wooder-slide
                    .slide-number-wrap
                        .slider-number
                            p 03
                    .row
                        p.t-b-slide-title Wooder
                    .row
                        .bordered-btn
                            .text-wrap
                                p Learn more
                    .row
                        .scroll-wrap
                            .mouse-wrap
                                img(src="static/img/mouse.svg").mouse-img
                            .arrow-bottom-wrap
                                img(src="static/img/arrow-bottom.png").arrow-bottom-img
                            .scroll-text
                                p Scroll
                    .scroll-text.t-b-right-text
                        p Furniture & decor
                .wooder-slide
                    .slide-number-wrap
                        .slider-number
                            p 04
                    .row
                        p.t-b-slide-title Wooder
                    .row
                        .bordered-btn
                            .text-wrap
                                p Learn more
                    .row
                        .scroll-wrap
                            .mouse-wrap
                                img(src="static/img/mouse.svg").mouse-img
                            .arrow-bottom-wrap
                                img(src="static/img/arrow-bottom.png").arrow-bottom-img
                            .scroll-text
                                p Scroll
                    .scroll-text.t-b-right-text
                        p Furniture & decor
        .share-wrap
            img(src="static/img/share.svg").share-icon
