section.wooder-quality
    .row
        .w-q-title__wrap
            p.title-h2 Wooder - is quality
            p.main-text__l-gray We create unique design objects made of rare wood, specially under the order. Look at the short video about our work.
            p.main-text__l-gray Look at the short video about our work.
    .container
        .row.justify-content-center
            .col
                .video__wrap
                    .round-border
                        .video-window.v1
                            img(src="static/img/video/v1.jpg").video-img
                            a(href="#").whatch-video
                                img(src="static/img/play-button.svg").play-button
                .video-desc
                    p.main-text-16 Innovate Design
            .col
                .video__wrap
                    .round-border
                        .video-window.v2
                            img(src="static/img/video/v2.jpg").video-img
                            a(href="#").whatch-video
                                img(src="static/img/play-button.svg").play-button
                .video-desc
                    p.main-text-16 High-level Skills
            .col
                .video__wrap
                    .round-border
                        .video-window.v3
                            img(src="static/img/video/v3.jpg").video-img
                            a(href="#").whatch-video
                                img(src="static/img/play-button.svg").play-button
                .video-desc
                    p.main-text-16 Quality Products
    .bg-object.v
        p V