section.wooder-design
    .container
        row
            .col
                .row
                    .col-2
                        .line-wrap-white
                    .col-6
                        p.title-h2.brown We do the design of any complexity
                .row
                    .col-2
                        .line-wrap-brown
                    .col-5
                        p.main-text.main-text__white.left-text This is a team of professionals that make the furniture and wood décor high standard. Creating modern designs. Adhering to the global quality standards. And we are doing work with love.
                .row
                    .col-2
                    .col-5
                        .btn-wrap
                            .wooder-btn
                                button.border-btn.btn-text Watch video
            .col
    .play-button__wrap
        img(src="static/img/play-button-big.svg")