.about-us
  position: relative
  margin-left: 12%
  margin-top: 124px
  margin-bottom: 110px

  .about-us-bg
    display: block
    position: absolute
    font-size: 6em
    left: 0
    top: 0
    text-transform: uppercase

  .container
    .a
      display: block
      position: absolute
      font-size: 26.333em
      top: -700px
      right: 0
      z-index: 150

  .row
    padding: 0
    margin: 0

  .about-us__img
    width: 39%

  .col-4
    display: flex
    justify-content: flex-end

    .line-wrap-black
      width: 155px
      margin-top: 0
      align-self: center

  .col-4
    .line-wrap-brown
      margin-top: 0
      align-self: center


  .absolute-col
    margin-left: -220px