.furniture-and-decor
  display: block
  position: relative
  width: 100%
  margin-top: 100px

  .container-fluid
    position: relative
    max-width: 1226px
    margin-bottom: 115px

    .left-line
      left: 15px

  .container-fluid.even
    .number
      text-align: right

    .dot
      position: relative

    .dot:after
      position: absolute
      right: 20px

.line-wrap-black
  display: block
  margin-top: 50%
  width: 100%
  height: 1px
  background: $black

.line-wrap-brown
  display: block
  position: absolute
  right: 15px
  margin-top: 20%
  width: 44px
  height: 4px
  background: $lightBrown

.bg-object
  display: block
  position: absolute
  color: $grayAlphaBG
  font-family: $ProximaNovaBold
  z-index: 100

.furniture,
.decor
  font-size: 11.267em
  text-transform: uppercase

.furniture
  position: absolute
  right: -60px

.decor
  position: absolute
  left: -35px
  top: 470px

.d,
.f
  font-size: 26.333em

.f
  position: absolute
  left: 15px
  top: -630px

.d
  position: absolute
  right: 30px