.title-banner

  .title__bg-wrap
    width: 100%
    height: auto
    z-index: 2

    .img-wrap1
      background: url("../img/title-banner-bg1.png") 0 0 no-repeat
      width: 60%
      background-size: cover

    .img-wrap2
      background: url("../img/title-banner-bg2.png") 0 0 no-repeat
      width: 40%
      background-size: cover

  .row-bg
    display: flex
    width: 100%
    font-size: 0

  .img-wrap1
    width: 55%
    height: 100%

    .title-banner-bg1
      width: 100%
      height: 100%

  .img-wrap2
    width: 45%
    height: 100%

    .title-banner-bg2
      width: 100%
      height: 100%

.title-banner-content
  position: absolute
  top: 300px
  width: 100%
  color: $white
  z-index: 3

  .title-banner-window
    display: block
    margin: 0 auto
    width: 65%
    max-width: 1190px
    overflow: hidden

  .title-slider
    position: relative
    display: flex
    width: 100%
    z-index: 10

    .slick-list,
    .slick-track
      height: 100%

    .draggable
      padding: 0
      width: 100%

    .slick-track
      display: flex

    .slick-dots
      display: flex
      flex-direction: column
      position: absolute
      left: 0
      top: 140px
      list-style: none

      li
        display: block
        width: 5px
        height: 5px
        margin-bottom: 40px

        button
          width: 5px
          height: 5px
          padding: 0
          border-radius: 5px
          border: 2px solid $darkBeige
          background: $darkBeige

        &.slick-active
          button
            border: 2px solid $lightBrown
            background: $lightBrown

  .wooder-slide
    display: inline-block
    position: relative
    width: 100%
    height: 100%
    //background: darkgreen

    .row
      margin: 0 !important
      padding: 0 !important

.slide-number-wrap
  display: block
  position: absolute
  top: 0
  left: 0
  color: $lightBeige
  font-size: 3.467em
  font-family: $ProximaNovaBold
  transform: rotate(90deg)
  transform-origin: 20px 30px

  .slider-number
    position: relative
    display: flex

    p
      display: block
      margin: 0

  .slider-number:before
    content: ''
    margin-right: 20px
    align-self: center
    width: 50px
    height: 2px
    background: $lightBeige


.t-b-slide-title
  display: block
  margin-top: 60px
  margin-bottom: 60px
  margin-left: 20%

.bordered-btn,
.scroll-wrap
  margin-left: 20%

.bordered-btn
  padding-right: 65px
  padding-left: 65px

  .text-wrap
    display: flex
    p
      margin-top: 0
      margin-bottom: 0
      align-self: center
    p:after
      content: ''
      display: inline-block
      align-self: center
      margin-left: 10px
      width: 36px
      height: 13px
      background: url("../img/arrow-right.png") 0 0 no-repeat

.scroll-wrap
  margin-top: 68px
  margin-bottom: 50px

.mouse-img
  width: 20px
  height: 30px

.arrow-bottom-img
  display: block
  margin-top: 10px
  margin-left: 3px

.scroll-text
  transform: rotate(90deg)
  transform-origin: left bottom
  text-transform: uppercase
  font-family: $ProximaNovaBold
  font-size: 14px
  color: rgba(255, 255, 255, 0.102)
  z-index: 900

.t-b-right-text
  display: block
  position: absolute
  margin: 0 !important
  top: 60px
  transform-origin: left top
  letter-spacing: 5px

.share-wrap
  display: block
  position: absolute
  right: 30px
  bottom: 25px

.share-icon
  display: block
  width: 23px
  height: 26px




