.wooder-quality
  margin-bottom: 150px

  .row
    margin: 0

    .w-q-title__wrap
      display: block
      margin: 0 auto 80px auto
      text-align: center

      .title-h2:after
        content: ''
        display: block
        margin: 34px auto 25px auto
        width: 45px
        height: 4px
        background: $lightBrown

  .video__wrap
    width: 100%
    position: relative

    .round-border
      position: relative
      display: flex
      justify-content: center
      margin: 0 auto
      width: 75%
      border-radius: 50%
      border: 1px solid $videoBorder

      .video-window
        align-self: center
        position: relative
        display: flex
        justify-content: center
        //margin: 10px auto
        width: 90%
        border-radius: 50%
        //background: red
        overflow: hidden
        z-index: 4

        .video-img
          position: absolute
          top: 0
          left: 0

        .whatch-video
          display: flex
          justify-content: center
          align-self: center

        .play-button
          align-self: center
          width: 68px
          height: 68px
          z-index: 200

  .video-desc
    display: block
    margin: 0 auto
    text-align: center

    p:before
      content: ''
      display: block
      margin: 25px auto 17px auto
      width: 27px
      height: 1px
      background: $lightBrown