@import "_vars"

@import "common/header"

@import "common/common"

@import "common/video-hover"

@import "common/footer"

@import "sections/title-banner"

@import "sections/furniture-and-decor"

@import "sections/wooder-quality"

@import "sections/wooder-design"

@import "sections/about-us"

html
  font-size: 15px
  margin: 0

body
  height: auto
  width: 100%
  margin: 0
  padding: 0

a
  text-decoration: none

ul
  padding-left: 0

.clearfix:after
  clear: both

.clearfix
  *zoom: 1

.wrapper
  display: block
  margin: 0 auto
  padding: 0
  position: relative
  overflow: hidden
  width: 100%

.col,
.col-6
  padding-right: 0
  padding-left: 0

.row
  margin: 0
  padding: 0

@import "libs.sass"

