footer
  background: url("../img/footer-bg.png") 0 0 no-repeat
  background-size: cover

  .container
    padding: 0

    .row
      .col
        padding: 0
        display: flex

  .copyright
    display: block
    align-self: center
    text-transform: uppercase
    color: $darkGray
    font-family: $ProximaNovaRegular

  .designer-info
    display: block
    font-family: $ProximaNovaRegular

    p
      display: inline-block
      align-self: center
      position: relative
      right: 0

    p:first-child
      color: $darkGray

    p:last-child
      color: $lightBrown

