header
  position: fixed
  width: 100%
  top: 0
  left: 0
  padding: 34px 0 0 0
  z-index: 1000

  .top-nav-row
    height: 100px

  .col,
  .col-6,
  .col-2
    display: flex

  .header-logo
    justify-content: flex-end

    .wooder-logo
      margin-right: 5%

  .info-wrap
    align-self: center
    display: flex
    justify-content: center
    width: 100%

    .info-icon-wrap,
    .lang-selector-wrap
      display: block
      align-self: center

    .info-icon-wrap
      margin-right: 20%

  .header__menu-icon__col
    padding-left: 0 !important
    display: flex

  .header__menu-icon__wrap
    display: flex
    align-self: center
    margin: 0 auto

  .header__menu-icon__wrap:after
    content: 'Menu'
    display: inline-block
    align-self: center
    text-transform: uppercase
    color: $lightGreyAlpha
    font-family: $ProximaNovaBold
    cursor: pointer


  .header__menu-icon
    width: 35px
    height: 22px
    align-self: center

  .header__info-icon
    width: 24px
    height: 24px

  .header-nav
    list-style: none
    display: flex
    align-self: center
    align-items: center
    vertical-align: middle

  .middle-col
    .row
      width: 100%

.wooder-logo
  display: block
  align-self: center

  p
    display: inline-block
    color: $white
    font-size: 2.400em
    font-family: $ProximaNovaBold

  .crossed
    text-decoration: $lightBrown line-through

.lang-select
  font-family: $ProximaNovaBold
  color: $lightGray
  background: transparent
  border: none

.header-nav__wrap
  align-self: center
  width: 100%

  .header-nav
    display: flex
    justify-content: flex-start
    width: 100%

    li
      margin-right: 17%

      a,
      menu-name
        font-family: $ProximaNovaBold
        color:  $lightGreyAlpha
        text-transform: uppercase

      a::after
        content: ''
        display: block
        height: 1px
        width: 100%
        transform: scale(0)
        background: $lightBrown
        transition: all 0.2s

      a:hover
        text-decoration: none

        &::after
          transform: scale(1)

.col-nav_wrap.all-menu-items
  display: none
  background: $lightBrown
  padding-bottom: 15px
  z-index: 10000

  .header-nav__wrap
    align-self: flex-start

    ul
      display: flex
      flex-direction: column
      margin-top: 0 !important
      margin-bottom: 0 !important

      li
        display: block
        margin-right: 0

        .menu-dep-name
          text-transform: uppercase
          font-family: $ProximaNovaBold
          color:  $lightGreyAlpha

        .h-n-i-name
          text-transform: capitalize
          font-family: $ProximaNovaRegular
          color:  $lightGreyAlpha

        a::after
          background: $darkBeige
