extends ../layout/layout

block title
    | Wooder

block header
    include ../common/header
block title-banner
    include ../sections/title-banner
block furniture-and-decor
    include ../sections/furniture-and-decor
block wooder-quality
    include ../sections/wooder-quality
block wooder-design
    include ../sections/wooder-design
block about-us
    include ../sections/about-us
block footer
    include ../common/footer