footer
    .container
        .row
            .col
                p.copyright © 2016 WOODER
            .col
                .wooder-logo
                    p w
                    p.crossed oo
                    p der
            .col.designer-info
                p Designed by
                p Viacheslav Olianishyn