header
    .row.top-nav-row
        .col-2.header__menu-icon__col
            .header__menu-icon__wrap
                a(href="#")
                    img(src='static/img/menu-of-three-lines.svg').header__menu-icon
        .col.middle-col
            .row
                .col.header-logo
                    .wooder-logo
                        p w
                        p.crossed oo
                        p der
                .col.col-nav_wrap
                    nav.header-nav__wrap
                        mixin menu-item(name)
                            li
                                a(href="#").menu-name= name
                        ul.header-nav
                            +menu-item('Home')
                            +menu-item('Products')
                            +menu-item('About')
        .col-2
            .info-wrap
                .info-icon-wrap
                    a(href="#")
                        img(src='static/img/information.svg').header__info-icon
                .lang-selector-wrap
                    select.lang-select
    .row.col-nav_wrap.all-menu-items
        .col
            nav.header-nav__wrap
                ul.header-nav
                    li
                        p.menu-dep-name Products
                    li
                        a(href="#").h-n-i-name See all
                    li
                        a(href="#").h-n-i-name Furniture
                    li
                        a(href="#").h-n-i-name Decor
        .col
            nav.header-nav__wrap
                ul.header-nav
                    li
                        p.menu-dep-name More from Wooder
                    li
                        a(href="#").h-n-i-name Gifts ideas
                    li
                        a(href="#").h-n-i-name How to order your own design
        .col
            nav.header-nav__wrap
                ul.header-nav
                    li
                        p.menu-dep-name Help & Information
                    li
                        a(href="#").h-n-i-name Help
                    li
                        a(href="#").h-n-i-name Delivery


